# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars
.terraform.lock.hcl

# Go
**/go.sum
**/vendor/

# Binaries
src/*/inventory-service
src/*/booking-service
src/*/queue-service
src/experiment1/experiment1
experiments/experiment1/experiment1

# Node
node_modules/
dist/

# Test output
/tmp/

# OS
.DS_Store