# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Go
**/go.sum
**/vendor/

# Binaries
src/*/inventory-service
src/*/booking-service
src/*/queue-service

# Test output
results/
/tmp/

# OS
.DS_Store

# Locust
**/__pycache__/